@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WenKai';
    src: url('fonts/LXGW_WenKai_TC/LXGWWenKaiTC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "WenKai", "Roboto", sans-serif;
    background-color: #EEF2F6;
    overflow: hidden;
}

nav h2 {
    font-size: 35px;
    padding: 10px;
    border: 2px solid #F7F8FC;
    border-radius: 25px;
    margin-left: 25px;
}

nav {
    border-radius: 25px;
    background-color: #4B4E67;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav div {
    font-size: 50px;
    text-align: center;
    margin: auto;
}

nav a {
    color: white;
}

nav a:hover {
    background-color: #505773;
    color: yellow;
}

section h1 {
    font-size: 75px;
}

.interest img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 100px;
}

.interest div {
    display: flex;
}