body {
    font-family: "LXGW WenKai TC", "Roboto", sans-serif;
    background-color: #EEF2F6;
    overflow: hidden;
}

nav h2 {
    font-size: 35;
    padding: 10px;
    border: 2px solid #F7F8FC;
    border-radius: 25px;
    margin-left: 25px;
}

nav {
    border-radius: 25px;
    background-color: #4B4E67;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav div {
    font-size: 35px;
    text-align: center;
    margin: auto;
}

nav a {
    color: white;
}

nav a:hover {
    background-color: #505773;
    color: yellow;
}

section h1 {
    font-size: 75px;
}